@tailwind base;
@tailwind components;
/* 
body {
  @apply w-full;
} */

#__next {
  @apply flex flex-col min-h-screen text-gray-600 leading-normal text-base tracking-normal;
}

@tailwind utilities;

@font-face {
  font-family: "helveticaNaue";
  src: url("../public/fonts/helveticaNeue/HelveticaNeue-Medium.woff2");
  font-display: swap;
}

html {
  font-family: 'helveticaNaue';
  color: theme('colors.gray.900');
}


